GROQ_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
POSTGRES_URL=postgresql+asyncpg://user:pass@postgres:5432/llmdb
REDIS_URL=redis://redis:6379
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
JWT_SECRET=
INTERNAL_INGEST_SECRET=
